form {
    margin: 0;

    .form-body {
        display: flex;
        flex-direction: column;
    
        .form-group {
            label {
                display: block;
            }
    
            + .form-group {
                margin-top: 10px;
            }
        }
    }

    .form-footer {
        margin-top: 20px;
    }
}

input {
    height: 40px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px 20px;

    &:focus {
        outline: none;
        border-color: black;
    }
}